* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c1d20;
  color: #fff;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

canvas#bgCanvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  text-align: center;
  padding: 3rem 1rem;
  background-color: rgba(13, 182, 154, 0.863));
}

.profile-img {
  width:150px;
  height:150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: 3px solid #00ffd5;
  
}

.hero h1 {
  font-size: 2.5rem;
  color: #00ffd5;
}

.social-links a {
  margin: 0 1rem;
  color: #00ffd5;
  text-decoration: none;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  margin: 5rem auto;
  max-width: 1200px;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 4px #00ffd533;
}

.card h2 {
  color: #14bdbd;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  gap: 5rem;
}

.skill-item {
  background: #1a1a1a;
  padding: 1rem;
  border: 1px solid #00ffd5;
  text-align: center;
  border-radius: 8px;
}

.project-card {
  background: #1a1a1a;
  padding: 1.5rem;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid #00ffd5;
   width: 72vh;
    height: 80vh;
  
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  height: 50vh;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 50vh;
    height: 50vh;
}
element.style {
    width: 72vh;
    height: 93vh;
}
.card p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

